<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Minecraft 命令生成器{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'MC_command/style.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    {% block extra_js %}{% endblock %}
</body>
</html>